/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERICS */
body {
  font-family: 'Open Sans', sans-serif;
}
/* UTILS */
* i {
  cursor: pointer;
}

* ul {
  list-style-type: none;
}

/* UTILS/BUTTON */
.btn {
  font-size: 17px;
  cursor: pointer;
}

.container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

/* UTILS/COLORS */
.c-white {
  color: white;
}

.white {
  background-color: white;
}
.blue {
  background-color: rgb(0, 135, 255);
  border: none;
}

.dark-blue {
  background-color: rgb(0,0,139);
}

.green {
  background-color: rgb(162,211,155);
}

.crimson {
  background-color: rgb(220,20,60);
}

.red {
  background-color: rgb(255, 0, 0);
}

.powder-blue {
  background-color: rgb(176,224,230);
}

.deep-sky-blue {
  background-color: rgb(176,224,230);
}

.firebrick {
  background-color: rgb(178,34,34);
}

.gold {
  background-color: rgb(255,215,0);
}

/* UTILS/MARGIN */
.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-60 {
  margin-bottom: 60px;
}

/* UTILS/PADDING */
.pt-15 {
  padding-top: 15px;
}
.pt-50 {
  padding-top: 50px;
}
 .pt-100 {
   padding-top: 100px;
 }
.pd {
  padding: 15px 20px;
}

/* UTILS FONT SIZE */
.fs-15 {
  font-size: 15px;
}

.fs-35 {
  font-size: 35px;
}

/* HEADER */
header {
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 0 0 3px #666;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navbar {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar .left, .navbar .right {
  width: calc(100% / 2);
}

.navbar .left {
  justify-content: flex-start;
  padding-left: 20px;
}

.navbar .right {
  justify-content: flex-end;
  padding-right: 20px;
}

#logo {
  animation: logo 1s linear infinite;
}

@keyframes logo {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.navbar-menù ul, .navbar-actions ul {
  display: flex;
}

.navbar-menù ul li, .navbar-actions ul li {
  display: inline-block;
  padding: 0 15px;
}

.navbar-menù ul li a, .navbar-actions ul li a {
  color: black;
  text-decoration: none;
}

.btn.blue.small {
   padding: 10px;
}

/* MAIN */


/* JUMBOTRON */
#jumbotron {
  background-color: rgb(180,208,231);
  height: 583px;
}

.jb-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.container h1 {
  font-size: 63px;
  font-weight: 900;
}

.btn.big {
  padding: 10px 15px;
}

.dropbox-description i{
  font-size: 40px;
  padding-top: 20px;
  color: red;
  animation: asroma 2s linear infinite;
}

@keyframes asroma {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.5);
    color: yellow;
  }
  75% {
    transform: scale(1.2);
    color: yellow;
  }
  100% {
    transform: scale(1);
  }
}

.dropbox-preview img {
  width: 100%;
  display: block;
}

/* SECTION BUSINESS PLAN */

/* BILLING PERIOD */
.box {
  height: 100%;
  width: 66%;
  margin: 0 auto;
}

.billing-period {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.check {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 5px solid rgb(0, 97, 255);
  border-radius: 50%;
  vertical-align: middle;
}

.uncheck {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid lightgrey;
  border-radius: 50%;
  vertical-align: middle;
}

.monthly span, .annual span {
  vertical-align: middle;
}

/* TYPE OF PLAN */
.row {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.row > * {
  width: calc(100% / 3);
}

.col {
  height: 1050px;
  border: 2px solid lightgrey;
}

.card-client {
  height: 40px;
  border-bottom: 2px solid lightgrey;
  text-align: center;
}

.card-client i, .card-client span {
  line-height: 40px;
  vertical-align: middle;
}



.card-type-of-plan li, .card-details li, .card-plan-highlights li {
  padding-top: 20px;
}

.trial {
  text-align: center;
}

.contact-us {
  padding: 10px 70px;
}

.contact-us a {
  text-decoration: none;
  color: white;
}
.buy a, .partnership a {
  color: blue;
}
time {
  color: grey;
}

.card-plan-highlights i {
  color: rgb(0, 135, 255);
}

/* CARD CONTACT-SALES */
.sales-office {
  width: 100%;
  border: 2px solid lightgrey;
}

.sales-office-content {
  height: 200px;
  position: relative;
}

.sales-office-title {
  position: absolute;
  top: 10%;
  left: 3%;
}

.sales-office-description {
  position: absolute;
  bottom: 10%;
  left: 3%;
  width: 63%;
}

.sales-office-contact-us {
  position: absolute;
  top: 15%;
  right: 3%;
}

/* SECTION FIND A PARTNER */
 .col-find-a-partner-img {
   width: 65%;
 }

 #partner {
   width: 100%;
 }

 .col-find-a-partner-content {
   width: 35%;
 }

 .card-find-a-partner-content {
   height: 400px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
 }


/* SECTION DROPBOX BUSINESS */
.wrapper-feature {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
.col-feature {
  flex-basis: 27%;
  margin-bottom: 20px;
}

.card-feature {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-feature img {
  width: 100%;
}


/* SECTION PARTNERSHIP COMPANIES */
.wrapper-companies {
  display: flex;
}

.col-companies {
  flex-basis: calc(100% / 3);
  height: 449px;
  display: flex;
  flex-wrap: wrap;
}

.card-companies {
  flex-basis: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-big-companies {
  flex-basis: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px 20px;
}

.card-companies:hover {
  border: 10px solid rgba(255, 255, 255, 0.5);
}

.card-big-companies img {
  width: 84%;
}

hr {
  width: 70px;
}

.card-companies img {
  width: 66%;
  height: 30%;
  filter: invert(1);
}

/* SECTION CHOOSE DROPBOX BUSINESS */
#choose-dropbox-business {
  background-color: rgb(180, 208, 231);
  height: 300px;
}
.flex-direction {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-direction div .btn {
  padding: 5px 35px;
  border: none;
  background-color: white;
}

/* FAQ */
#asks {
  height: 600px;
}

.flex-direction-faq {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col-faq {
  flex-basis: 12%;
  border-bottom: 2px solid grey;
}

.col-faq strong {
  line-height: 96px;
  vertical-align: middle;
}

.col-faq i {
  padding-left: 18%;
  vertical-align: middle;
}

/* FOOTER */
footer {
  background-color: black;
  color: white;
}

.box-top, .box-bottom {
  width: 80%;
  margin: 0 auto;
}

.box-top {
  height: 400px;
}
.box-bottom {
  height: 100px;
  line-height: 100px;
}

.row-footer {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-footer {
  width: calc(100% / 5);
}

.card-list ul li {
  padding: 5px 0;
}

.card-list ul li a {
  color: white;
  text-decoration: none;
}

#choose-language {
  border: none;
  color: white;
  background-color: black;
  cursor: pointer;
}
